 <script type="text/javascript">
         $(document).ready(function() {
            
       //leave empty for sending sms using default intent
               console.log(document.URL);

               $("#btnDefaultSMS").click(function(){
                  var username = $("#username").val();
                  
                  var number = $("#numberTxt").val();
                  var message = $("#messageTxt").val();
                  console.log(username);
                SmsPlugin.prototype.send(number, message, '',
              function () { 
                 alert('Message sent successfully');  
              },
              function (e) {
                  alert('Message Failed:' + e);
              }
              ); 
                });

              $("#back").click(function(){
                   window.history.back()
              });             
         });
                   
</script>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span style="color:blue;font-size:2em;">e</span><span>Survey</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#home/{{username}}"><i class="glyphicon glyphicon-home"></i>Home</a></li>
        <li><a href="#survey/{{username}}/{{id}}">Start Survey</a></li>
        <li class="active"><a>Send Message</a></li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li >
          <a href="#"><i class="glyphicon glyphicon-log-out"></i> Logout</a> 
        </li>
      </ul>
	</div>
	</div>
</nav>


   <div data-role="content">
            <div data-role="fieldcontain">
              <input name="chuchu" type="hidden" id="username" value="{{username}}" id="username">
               <input name="" id="numberTxt" placeholder="Enter mobile number" value=""
                  type="tel" data-mini="true" class="form-control" type="text"><br>
               <textarea name="" id="messageTxt" placeholder="Enter message" data-mini="false" type="text" class="form-control"></textarea>
               <br>
               <input id="btnDefaultSMS" type="submit" class="btn btn-primary" data-theme="e" class="form-control" value="Send SMS" data-mini="false">
            </div>
  </div>